@{
    Layout =  "~/Views/Shared/_Meta.cshtml";
}
<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
        </form>
    </div>
</div>