@using FDI.CORE

@{
    Layout = "~/Views/Shared/_Meta.cshtml";
    var date = DateTime.Now;
}
<script>
    $(document).ready(function () {
        urlLists = '@Url.Action("ListItems")';
        urlForm = '@Url.Action("AjaxForm", new { supplierId = ViewBag.id })';
        $(".date-picker").datepicker({
            //showOn: "button",
            //buttonImageOnly: true,
            format: "dd/mm/yyyy",
            onSelect: function(dateText, inst) {
                alert(dateText);
            }
        }).mask('00/00/0000').on('changeDate', function (ev) {
            var a = $(".date-picker").val();
            window.location.href = "@Url.Action("Index")" + "?todayCode=" + a;
            console.log(ev.date, a);
        });

    })
</script>
<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="fa fa-trash-o icon-muted fa-fw"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
            </div>
            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="CategoryName">Tên sản phẩm</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm date-picker" value="" name="todayCode" id="fromDate">
            </div>
            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary"><span class="fa fa-search"></span>Tìm kiếm</button>
          
          
        </form>
    </div>
</div>