<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AdminUrl" value="/" />
  <add key="UrlLogin" value="/AccountAdmin/Logon" />
  <add key="ListAdmin" value="Admin,SuperAdmin" />
  <add key="URLImage" value="/Uploads/Thumbs/" />
  <add key="UploadsImage" value="/Uploads/" />
  <add key="TempImage" value="/Uploads/Temp/" />
  
  <!--<add key="URLImage" value="/Uploads/Thumbs" />
  <add key="UploadsImage" value="/Uploads" />
  <add key="TempImage" value="/Uploads/Temp/" />-->
  
  <add key="ModuleArea" value="FDI.Web.Areas" />
  <!--Config Cache-->
  <add key="ServerCache" value="127.0.0.1:11211"/>
  <add key="EnableCache" value="0"/>
  <add key="ServerRedisCache" value="127.0.0.1"/>
  <add key="PortRedisCache" value="5"/>
  <add key="TimeExpireCache" value="10"/>
  <add key="TimeExpireCache30" value="30" />
  <add key="TimeExpireCache60" value="60" />
  <add key="TimeExpireCache120" value="120" />
  <add key="TimeExpireCache360" value="360" /> 
  <add key="ListLanguage" value="vi" />
  <!--End-->
  <!--Customer-->
  <add key="sessionTimeout" value="30"/>
  <!--End-->
  <add key="GoupsMassageId" value="2"/>
  <add key="GoupsTableId" value="6"/>
  <!--Id Danh muc-->
  <add key="NewsId" value="5"/>  
  <add key="NewsDetail" value="6"/>
  <add key="Partner" value="10"/>  
  <add key="PartnerDetail" value="12"/>
  <add key="Product" value="4"/>
  <add key="ProductDetail" value="9"/>
  <add key="Service" value="1013"/>
  <add key="ServiceDetail" value="1014"/>
  <!--Page-->
  <add key="numHD" value="10"/>
  <add key="txtHD" value="HD"/>
  <add key="txtPNT" value="PNT"/>
  <add key="txtPNK" value="PNK"/>
  <add key="txtPXK" value="PXK"/>
  <add key="txtPCK" value="PCK"/>
  <add key="txtPT" value="PT"/>
  <add key="txtPTNB" value="PT_NB"/>
  <add key="txtPTHD" value="PT_HD"/>
  <add key="txtPC" value="PC"/>
  <add key="txtPCNB" value="PC_NB"/>
</appSettings>