<form id="frm-changepass">
    <div class="modal-body">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-database"></i>Thay đổi mật khẩu
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Mặt khẩu cũ</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" name="OldPassword" id="OldPassword"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Mặt khẩu mới</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" name="NewPassword" id="NewPassword"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nhập lại</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" name="RePassword" id="RePassword" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-success">Cập nhật</button>
        <button id="close" type="button" data-dismiss="modal" class="btn btn-sm btn-default">Đóng</button>
    </div>
</form>

<script>
    $("#frm-changepass").validate({
        rules: {
            OldPassword:
            {
                required: true,
                minlength: 6
            },
            NewPassword:
            {
                required: true,
                minlength: 6
            },
            RePassword:
            {
                required: true,
                minlength: 6,
                equalTo: "#NewPassword"
            }
        },
        messages: {
            OldPassword: {
                required: "Bạn chưa nhập mật khẩu !",
                minlength:"Mật khẩu quá ngắn !"
            },
            NewPassword: {
                required: "Bạn chưa nhập lại mật khẩu !",
                minlength:"Mật khẩu quá ngắn !"
            },
            RePassword: {
                required: "Bạn chưa nhập lại mật khẩu !",
                minlength: "Mật khẩu quá ngắn !",
                equalTo: "Mật khẩu nhập lại chưa đúng !"
            }
        },

        submitHandler: function () { //onSubmit
            $.post("/Account/ActionChangePassword", $("#frm-changepass").serialize(), function (data) {
                if (data.Erros) {
                    toastr["error"](data.Message);
                } else {
                    toastr["success"](data.Message);
                    $(".modal").modal('hide');
                }
            });
            return false;
        }
    });
</script>
