@model FDI.Simple.ModelMenusItem
@{
    Layout = "~/Views/Shared/_Meta.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        var groupId = window.location.href.getParamFromUrl("groupId");
        if (groupId !== "") {
            var urlLoad = '/Admin/Menu/ListItems';
            $.ajax({
                type: "Get",
                url: urlLoad,
                dataType: "text",
                success: function (data) {
                    $("#Griditems").html(data);
                }
            });
        }
        else
            
        $("#btnAddMenu").click(function () {
            var id = window.location.href.getParamFromUrl("groupId");
            $("#dialog-form").css("height", formHeight);
            $('body').modalmanager('loading');
            $.post(urlForm + "?groupId=" + id + "&do=Add", function (data) {
                $("#dialog-form .modal-title").html("Thêm mới menu");
                $("#dialog-form #dialog-form-ajax").html(data);
                $('#dialog-form').modal('show');
            });
            $("#dialog-form.in #close").click(function () {
                $('#dialog-form').modal('hide').html("");
            });
            return false;
        });

      
        $('#subNav a').click(function () {
            var link = $(this).attr('href');
            var positionId = link.getParamFromUrl("groupId");
            $("#ipMenuGroup").val(positionId);
            $.post(urlLists + "?groupId=" + positionId, function (data) {
                $("#Griditems").html(data);
            });
        });
        
        $("#ipMenuGroup").val(groupId);
    });
</script>
<div class="view-menu">
   
    <div class="content-control">
        <div class="sysMenu">
            <div class="btn-group btn-block">
                <a href="/Admin/MenuGroups" class="btn btn-sm btn-success pull-right"><i class="fa fa-plus"></i> Thêm nhóm</a>
                <input type="hidden" id="ipMenuGroup" />
            </div>
            <div class="list-sysmenu scrollable">
                <ul id="subNav">
                    @foreach (var item in Model.ListMenuGroupsItem)
                    {
                        <li><a href="#groupId=@item.ID"><i class="fa fa-chevron-right pull-right"></i>@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="sysViewMenu">
            <div class="btn-group pull-right btn-block">
                @Grid.ActionAddMenu(Url.Action("Actions"))
            </div>
            <div id="Griditems"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#subNav li a").click(function () {
            $("#subNav li a.active").removeClass("active");
            $(this).addClass('active');
        });
    })
</script>