@model FDI.Simple.DNExchangeItem
<script>
    $(function () {
        var urlnode = '@Model.url';
        $("#modalForm").validate({
            rules: {
                NameBedDes:
                {
                    required: true,
                }
            },
            submitHandler: function () { //onSubmit
                $("#btnSave").prop('disabled', true);
                $.post(urlPostAction, $("#modalForm").serialize(), function (data) {
                    $("#btnSave").prop('disabled', false);
                    if (data.Erros)
                        toastr["error"](data.Message);
                    else {
                        createShowMessage("Thông báo", data.Message);
                        var socket = io(urlnode);
                        socket.emit("client-exchange-main", { bedid: $("#BedDeskID").val(), bedeid: data.ID });
                        $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                    }
                });
            }
        });
    });
</script>

<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="Complete" />
        <input type="hidden" name="BedDeskID" id="BedDeskID" value="@Model.BedDeskID" />
        <input type="hidden" name="EndDate" id="EndDate" value="@Model.EndDate" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-database"></i>Đổi bàn
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tên bàn đổi</label>
                            <div class="col-md-10">
                                <input class="form-control" id="NameBedDes" name="NameBedDes" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">Lưu lại</button>
        <button id="btnReset" type="reset" name="reset" class="btn btn-sm btn-info">Nhập lại</button>
        <button id="close" type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
    </div>
</form>
