@model FDI.Simple.ModelMenusItem
@{
    ViewBag.Title = "ListCity";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        registerGridView('#gridItems');
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#TreeMenu").treeview({
            collapsed: false,
            animated: "medium",
            control: "#treecontrol",
            persist: "location"
        });

        $("a.tool").click(function () {
            if ($(this).parent().parent().hasClass("unselect")) {
                $(".filetree li").addClass("unselect").removeClass("select");
                $(this).parent().parent().addClass("select").removeClass("unselect");
            }
            else {
                $(this).parent().parent().addClass("unselect").removeClass("select");
            }
            return false;
        });

    });
</script>
<div id="gridItems">
            <div id="treecontrol" class="treeTool">
                <a title="Đóng tất cả các nhánh" href="#" class="collapse">Đóng tất cả</a>
                <a title="Mở tất cả các nhánh" href="#" class="expand">Mở tất cả</a>
            </div>
            <ul id="TreeMenu" class="filetree gridView" style="border: 0px;">
                @Html.Raw(Model.PageHtml)
            </ul>
        </div>
 


