@{
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#modalForm").validate({
            rules: {
                loc:
                {
                    required: true
                }
            },
            messages: {
                loc:
                {
                    required: "Trường này là bắt buộc."
                }
            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#modalForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").modal('hide');
                        createCloseMessage("Thông báo", data.Message, "");
                    }
                });
                return false;
            }
        });

    });
</script>
<form id="modalForm">
    <div class="modal-body">
        <input type="hidden" name="do" id="do" value="Add" />
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>Thông tin sitemap
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">File</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="SitemapName" id="SitemapName">
                                    <option value="sitemap.xml">sitemap</option>
                                    <option value="SitemapUpdate.xml" selected>SitemapUpdate</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">loc</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="loc" id="loc" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">priority</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="priority" id="priority" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">changefreq</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="changefreq" id="changefreq">
                                    <option value="">None</option>
                                    <option value="always">Always</option>
                                    <option value="hourly">Hourly</option>
                                    <option value="daily" selected="selected">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                                    <option value="never">Never</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">Thêm mới</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-sm">Đóng</button>
    </div>
</form>