@model FDI.Simple.ModelVideoItem
@{
    Layout =  "~/Views/Shared/_Meta.cshtml";
}

<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#showAll" data-event="showAll" data-grid="#mygird"><i class="fa fa-check icon-muted fa-fw"></i>Hiển thị</a></li>
                    <li><a href="#hideAll" data-event="hideAll" data-grid="#mygird"><i class="fa fa-times icon-muted fa-fw"></i>Ẩn</a></li>
                    <li class="divider"></li>
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="fa fa-trash-o icon-muted fa-fw"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
            </div>
            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="Name">Tên video</option>
                </select>
            </div>
            <div class="form-group">
                <select name="CategoryID" id="CategoryID" class="form-control input-sm">
                    <option value="0">-- Chuyên mục --</option>
               @*     @foreach (var item in Model.ListPositionItem)
                    { 
                        <option value="@item.ID">@item.Name</option>
                    }*@
                </select>
            </div>
            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary"><span class="fa fa-search"></span>Tìm kiếm</button>
            <div class="btn-group pull-right">
                @Grid.ActionAdd(Url.Action("Actions"))
            </div>
        </form>
    </div>
</div>