@model FDI.Simple.SumContentVoteItem

<label>Điểm tuần: @(Model != null ? Model.Week ?? 0 : 0)</label>

<label>Điểm tháng: @(Model != null ? Model.Month ?? 0 : 0)</label>

<label>Điểm năm: @(Model != null ? Model.Year ?? 0 : 0)</label>

