@model FDI.Admin.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Ajax.cshtml";
}

<script type="text/javascript">
    $(function () {

        $("#frmChangPassword").validate({
            submitHandler: function () {
                $.post("/AccountAdmin/ActionChangePassword", $("#frmChangPassword").serialize(), function (data) {
                    if (data.Erros) {
                        $("#dialog-message").attr("title", "Đã có lỗi xảy ra");
                        $("#dialog-message").html("<p style='color:red;'>" + data.Message + "</p>");
                        $("#dialog-message").dialog({
                            resizable: true,
                            height: 'auto',
                            width: 'auto',
                            modal: true,
                            buttons: {
                                "Đóng lại": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }
                    else {
                        $("#dialog-message").attr("title", "Thông báo");
                        $("#dialog-message").html("<p style='color:blue;'>" + data.Message + "</p>");
                        $("#dialog-message").dialog({
                            resizable: true,
                            height: 'auto',
                            width: 'auto',
                            modal: true,
                            buttons: {
                                "Đóng lại": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa 
                    }
                });
                return false;
            }
        });
    });
</script>

<form id="frmChangPassword">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="bs-example form-horizontal">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Mật khẩu cũ</label>
                    <div class="col-lg-8">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Mật khẩu mới</label>
                    <div class="col-lg-8">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">Nhập lại khẩu mới</label>
                    <div class="col-lg-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                Chú ý: <i>Độ dài mật khẩu yêu cầu từ @Membership.MinRequiredPasswordLength ký tự trở lên.</i>

                <button id="btnSave" style="display: none;" type="submit" class="btn btn-sm btn-primary">Đổi mật khẩu</button>

            </div>
        </div>
    </section>
</form>

