<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tiengviet">Tiếng Việt</a></li>
    <li class=""><a data-toggle="tab" href="#tienganh">Tiếng Anh</a></li>
</ul>
<div class="tab-content">
    <div id="tiengviet" class="tab-pane fade in active">
        <div class="box-icon">
            <span>Dịch vụ nào của Sengarden Spa làm bạn không hài lòng ?</span>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check5" class="styled" value="Thái độ nhân viên" type="checkbox">
                    <label for="check5">
                        Thái độ nhân viên
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check4" class="styled" value="Kiến thức chuyên môn nhân viên" type="checkbox">
                    <label for="check4">
                        Kiến thức chuyên môn nhân viên
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check3" class="styled" value="Không gian, vệ sinh phòng" type="checkbox">
                    <label for="check3">
                        Không gian, vệ sinh phòng
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check2" class="styled" type="checkbox" value="Nhân viên làm việc chưa chuyển nghiệp">
                    <label for="check2">
                        Nhân viên làm việc chưa chuyển nghiệp
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check1" class="styled" type="checkbox" value="Không có dịch vụ cần yêu cầu">
                    <label for="check1">
                        Không có dịch vụ cần yêu cầu
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-star"></i>
                </div>
                <textarea id="RepNote" name="RepNote" rows="5" class="form-control" placeholder="Ý kiến của bạn"></textarea>
            </div>
        </div>
    </div>
    <div id="tienganh" class="tab-pane fade">
        <div class="box-icon">
            <span>Dịch vụ nào của Sengarden Spa làm bạn không hài lòng ?</span>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check5" class="styled" type="checkbox">
                    <label for="check5">
                        Thái độ nhân viên
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check4" class="styled" type="checkbox">
                    <label for="check4">
                        Kiến thức chuyên môn nhân viên
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check3" class="styled" type="checkbox">
                    <label for="check3">
                        Không gian, vệ sinh phòng
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check2" class="styled" type="checkbox">
                    <label for="check2">
                        Nhân viên làm việc chưa chuyển nghiệp
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox checkbox-success">
                    <input id="check1" class="styled" type="checkbox">
                    <label for="check1">
                        Không có dịch vụ cần yêu cầu
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-star"></i>
                </div>
                <textarea id="" rows="5" class="form-control" placeholder="Ghi chú"></textarea>
            </div>
        </div>


    </div>
    <div class="box-a-table-button">
        <input class="btn btn-sm btn-primary backBtnEase" type="button" value=" << Back">
        <input class="btn btn-sm btn-primary" id="btn-reviewsuccess" type="button" value="Gửi ý kiến">
    </div>
</div>
