<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#vietnam">Tiếng Việt</a></li>
    <li class=""><a data-toggle="tab" href="#english">Tiếng Anh</a></li>
</ul>
<div class="tab-content">
    <div id="vietnam" class="tab-pane fade in active">

        <div class="box-icon">
            <span>Cảm ơn quý khách đã sử dụng dịch vụ của Sengarden Spa ?</span>
        </div>
        <div class="form-group">
            <input class="form-control" value="Bạn có vui lòng giới thiệu dịch vụ của Sengarden Spa tới người thân không ?" />
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-6 col-md-6">

                <div class="radio radio-info">
                    <input type="radio" name="survey" id="Radios1" value="Có">
                    <label>
                        Có
                    </label>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="radio radio-info">
                    <input type="radio" name="survey" id="Radios2" value="Không">
                    <label>
                        Không
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-star"></i>
                </div>
                <textarea id="RepNote" name="RepNote" rows="5" class="form-control" placeholder="Ý kiến của bạn"></textarea>
            </div>
        </div>
    </div>
    <div id="english" class="tab-pane fade">

        <div class="box-icon">
            <span>Cảm ơn quý khách đã sử dụng dịch vụ của Sengarden Spa ?</span>
        </div>
        <div class="form-group">
            <input class="form-control" value="Bạn có muốn giới thiệu dịch vụ của Sengarden Spa tới người thân không ?" />
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-6 col-md-6">

                <div class="radio radio-info">
                    <input type="radio" name="survey" id="Radios1" value="Có">
                    <label>
                        Có
                    </label>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="radio radio-info">
                    <input type="radio" name="survey" id="Radios2" value="Không">
                    <label>
                        Không
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-star"></i>
                </div>
                <textarea id="" rows="5" class="form-control" placeholder="Ý kiến của bạn"></textarea>
            </div>
        </div>

    </div>
    <div class="box-a-table-button">
        <input class="btn btn-sm btn-primary backBtnEase" type="button" value=" << Back">
        <input class="btn btn-sm btn-primary" type="button" id="btn-reviewsuccess" value="Gửi ý kiến">
    </div>
</div>
