@model FDI.Simple.ModelDocumentItem
@{
    Layout = "~/Views/Shared/_Meta.cshtml";
}
<script type="text/javascript">
    var urlXuatExcel = '@Url.Action("ProcessExportFile", "DNDocument")';
    $(document).ready(function () {
        $("#btnExportExcel").click(function () {
            var form = $("#gridSearch");
            window.location.href = urlXuatExcel + "?" + getValueFormMutilSelect(form);
            return false;
        });

    });
</script>
<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#showAll" data-event="showAll" data-grid="#mygird"><i class="icon-lock-open"></i>Hiển thị</a></li>
                    <li><a href="#hideAll" data-event="hideAll" data-grid="#mygird"><i class="icon-lock"></i>Ẩn</a></li>
                    <li><a href="#activeAll" data-event="activeAll" data-grid="#mygird"><i class="fa fa-check-square-o"></i>Duyệt</a></li>
                    <li class="divider"></li>
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="icon-trash"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword" >Từ khóa</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword"  placeholder="Từ khóa tìm kiếm">
            </div>

            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="Symbol">Số/Ký hiệu</option>
                    <option value="Name">Tiêu đề</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Chọn ngăn tủ</label>
                <select name="DrawerID" id="DrawerID" class="form-control" >
                    <option value="">--- Chọn ngăn tủ---</option>
                    @foreach (var item in Model.ListDrawerItems)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                </select>
            </div>

            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
            @*<button name="btnExportExcel" id="btnExportExcel" class="btn btn-sm btn-primary">Xuất Excel</button>*@
            <div class="btn-group pull-right">
                @Grid.ActionAdd(Url.Action("Actions"))
            </div>
        </form>
    </div>
</div>