@*@model FDI.Simple.ModelCategoryItem
@{
    ViewBag.Title = ViewBag.ActionText;
}
<script type="text/javascript">
    $(document).ready(function () {
        var textContainer = "#Text_CategoryValues";
        var hiddenContainer = "#Value_CategoryValues";
        var m = '@Model.SelectMutil';
        if (m.toLowerCase == 'true') {
            $("#SelectTreeCategory input[type=checkbox]").click(function () {
                var lastCheck = $(this).is(':checked');
                $("#SelectTreeCategory input[type=checkbox]").attr('checked', false);
                $(this).attr('checked', lastCheck);
            });
        }
        $("#SelectTreeCategory").treeview({
            collapsed: true,
            animated: "medium",
            control: "#SelectTreeControl",
            persist: "location"
        });
        $("#CategoryTreeSelectForm").validate({
            rules: {
                Title:
                  {
                      required: true,
                      minlength: 3,
                      maxlength: 100
                  },
                Description:
                  {
                      minlength: 15,
                      maxlength: 2000
                  }
            },
            submitHandler: function () { //onSubmit
                var values = '';
                var text = '';
                $("#SelectTreeCategory input[type=checkbox]:checked").each(function () {
                    values += "," + $(this).val();
                    text += ", " + $(this).attr("title");
                });
                if (values != '') {
                    $(textContainer).html(text.substring(1));
                    $(hiddenContainer).val(values.substring(1));
                    $("#dialog-form-2").dialog('close');
                }
                else {
                    createMessage("Thông báo", "Chưa có chuyên mục nào được chọn"); // Tạo thông báo lỗi
                }
                return false;
            }
        });
    });
</script>

<form id="CategoryTreeSelectForm">
    <table class="table table-bordered">
        <tr>
            <td>
                <div id="SelectTreeControl" class="treeTool">
                    <a title="Đóng tất cả các nhánh" href="#" class="collapse">Đóng tất cả</a>
                    <a title="Mở tất cả các nhánh" href="#" class="expand">Mở tất cả</a>
                </div>
                <ul id="SelectTreeCategory" class="filetree" style="border: 0px;">
                    @Html.Raw(Model.PageHtml)
                </ul>
            </td>
        </tr>
    </table>
    <div style="display: none;">
        <button id="btnSave" type="submit" class="btn btn-sm btn-primary">Chọn</button>
        <button id="btnReset" type="reset" class="btn btn-sm btn-primary">Chọn lại</button>
    </div>
</form>*@


<h1> Test pupup cấp 2</h1>
