@{
    Layout =  "~/Views/Shared/_Meta.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        
        $(document).on('keyup', '.autoNameAscii', function (e) {
            e.preventDefault();
            $('#NameAscii').val(RemoveUnicode($(this).val()));
        });
        $("#BrandID, #ProductTypeID").multiSelect({ selectAll: false, chooseOne: true });
        $("[data-event='Order']").click(function () {
            $.post(urlPostAction + "?do=Order", function (data) {
                if (data.Erros)
                    createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                else {
                    $("#dialog-form").modal('hide'); //Đóng form thêm mới - sửa
                    createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                }
            });
        });
    });
</script>
<div class="header-control">
    <h3 class="page-title"></h3>
    <div class="group-form-control">
        <form id="gridSearch" class="form-inline" role="form">
            <div class="btn-group">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#showAll" data-event="showAll" data-grid="#mygird"><i class="icon-lock-open"></i>Hiển thị</a></li>
                    <li><a href="#hideAll" data-event="hideAll" data-grid="#mygird"><i class="icon-lock"></i>Ẩn</a></li>
                    <li class="divider"></li>
                    <li><a href="#deleteAll" data-event="deleteAll" data-grid="#mygird"><i class="icon-trash"></i><span class="text">Xóa</span></a></li>
                </ul>
            </div>
            <div class="form-group">
                <label class="sr-only" for="Keyword">Từ khóa tìm kiếm</label>
                <input type="text" class="form-control input-sm" id="Keyword" name="Keyword" placeholder="Từ khóa tìm kiếm">
            </div>
            <div class="form-group">
                <select name="SearchIn" id="SearchIn" class="form-control input-sm mutil">
                    <option value="Name">Tên</option>
                    <option value="LevelName">Tên tầng</option>
                    <option value="RoomName">Tên phòng</option>
                </select>
            </div>
            <button name="submit.Search" type="submit" class="btn btn-sm btn-primary"><span class="fa fa-search"></span>Tìm kiếm</button>
            <div class="btn-group pull-right">
                @Grid.ActionAdd(Url.Action("Actions"))
            </div>

            <div class="btn-group pull-right">
                @Grid.ActionOrder("")
            </div>
        </form>
    </div>
</div>