<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AdminUrl" value="" />
  <add key="UrlLogin" value="/AccountAdmin/Logon" />
  <add key="ListAdmin" value="Admin,SuperAdmin" />
	<!--<add key="Url" value="http://localhost:2160/" />-->
	<add key="Url" value="http://localhost:85/" />
  <add key="URLJson" value="http://apissc.local/" />
  <!--<add key="URLJson" value="http://192.168.100.168:88/" />-->
  <add key="URLNode" value="http://192.168.100.119" />
  <add key="URLImage" value="/Uploads/Thumbs" />
  <add key="TempImage" value="/Uploads/Temp/" />
  <add key="UploadsImage" value="/Uploads/" />
  <!--<add key="URLImage" value="/Uploads/Thumbs" />  
  <add key="TempImage" value="/Uploads/Temp/" />-->
  <add key="ModuleArea" value="FDI.Web.Areas" />
  <!--Config Cache-->
  <add key="ServerCache" value="127.0.0.1:11211"/>
  <add key="EnableCache" value="1"/>
  <add key="ServerRedisCache" value="127.0.0.1"/>
  <add key="PortRedisCache" value="5"/>
  <add key="TimeExpireCache" value="10"/>
  <add key="TimeExpireCache30" value="30" />
  <add key="TimeExpireCache60" value="60" />
  <add key="TimeExpireCache120" value="120" />
  <add key="TimeExpireCache360" value="360" /> 
  <add key="ListLanguage" value="vi" />
  <!--End-->
  <!--Customer-->
  <add key="sessionTimeout" value="30"/>
  <!--End-->
  <!--Id Danh muc-->
  <add key="GoupsMassageId" value="2"/>
  <add key="GoupsTableId" value="6"/>
  <add key="MassageServiceId" value="10"/>
  <!--Page-->  
</appSettings>