<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="Url" value="http://192.168.100.16:82/"/>
    <add key="Com" value="COM3" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Config Cache-->
    <add key="ServerCache" value="127.0.0.1:11211"/>
    <add key="EnableCache" value="0"/>
    <add key="ServerRedisCache" value="127.0.0.1"/>
    <add key="PortRedisCache" value="5"/>
    <add key="TimeExpireCache" value="10"/>
    <add key="TimeExpireCache30" value="30" />
    <add key="TimeExpireCache60" value="60" />
    <add key="TimeExpireCache120" value="120" />
    <add key="TimeExpireCache360" value="360" />
    <!--End-->
  </appSettings>
</configuration>