@model FDI.Simple.SystemConfigItem
@if (Model != null)
{
    <div class="sec-navi-top text-right">
        <a href="#" title="" class="location" target="blank">@Model.Address</a>
        <a href="#" target="blank"><i class="fa fa-phone"></i>@Model.Phone</a>
        <a href="#" title="" class="website">@Model.Website</a>
    </div>
}