<div class="sec-home res-doitac">
    <div class="container">
        <h3 class="title">Đăng ký làm đối tác với chúng tôi để được hưởng các ưu đãi free</h3>
        <span class="sub-title">Với trên 300 khách hàng đã hợp tác cùng với hơn 800 dự án đã hoàn thành, chúng tôi tự hào là công ty đi đầu trong lĩnh<br />
            vực thiết kế website ở Việt Nam và một số nước trên thế giới</span>
        <div class="clearfix text-center">
            <a href="#registerDt" title="" class="call-inline-pop btf bt-blue bt-lg" data-effect="mfp-zoom-in">Đăng ký làm đối tác</a>
        </div>
    </div>
    <div class="popup-login  white-popup mfp-with-anim mfp-hide" id="registerDt">
        <div class="tab-log-res popup-doitac">
            <strong>Gửi thông tin cho chúng tôi</strong>
            <div class="tab-content">

                <form id="frmRegisterDt">
                    <div class="form-group">
                        <input type="text" class="form-control" name="rgdtName" placeholder="Tên doanh nghiệp..." />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="rgdtPhone" placeholder="Số điện thoại..." />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="rgdtEmail" placeholder="Email..." />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="rgdtWebsite" placeholder="Link website..." />
                    </div>
                    <div class="form-group">
                        <textarea rows="4" class="form-control" name="rgdtContent" placeholder="Mô tả ngắn về doanh nghiệp..."></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btf bt-blue bt-block">Gửi thông tin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
