@model FDI.Simple.ModelSystemConfigItem
@if (Model != null)
{
    <a class="bt-sticky" data-Quan="@Model.TotalPage" href="/@Model.Phone" title=""><i class="ion-bag"></i> Giỏ hàng của bạn <b>@Model.TotalPage</b></a>
    <a href="tel:0888113333" title="" class="bt-phone"><i class="ion-ios-telephone"></i>0888.11.3333</a>
}


