@*<ul>
    <li class="user-log">
        <a href="#" title=""><span class="avartar_log"></span><b>Nguyễn Văn A</b></a>
        <ul class="sub-user-log">
            <li><a href="#" title="">Thông tin tài khoản</a></li>
            <li><a href="#" title="">Dự án của tôi</a></li>
            <li><a href="#" title="">Đổi mật khẩu</a></li>
            <li><a href="#" title="">Thoát</a></li>
        </ul>
    </li>
</ul>*@

<ul>
    <li><a href="#login-res-pop" class="call-inline-pop" data-effect="mfp-zoom-in" title="Đang ký">Đăng ký</a></li>
    <li><a href="#login-res-pop" class="call-inline-pop" data-effect="mfp-zoom-in" title="Đăng nhập">Đăng nhập</a></li>
</ul>
