@*@model FDI.Simple.HtmlMapItem*@

<form id="form-modal">
    <h1>HTMl</h1>
   
    <div class="modal-footer">
        <input type="hidden" name="ctrId" class="form-control" value="@Model.CtrId"/>
        <button type="submit" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
    </div>
</form>
