@model FDI.Simple.CustomerItem
<li class="dropdown dropdown-user dropdown-dark">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img alt="" class="img-circle" src="/Content/Admin/images/avatar1.jpg">
        <span class="username username-hide-mobile">@Model.FullName</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li>
            <a href="/">
                <i class="icon-user"></i> Thông tin tài khoản
            </a>
        </li>
        <li>
            <a data-event="pass">
                <i class="icon-calendar"></i> Đổi mật khẩu
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-envelope-open"></i> Tin nhắn mới
                <span class="badge badge-danger"> 3 </span>
            </a>
        </li>
        <li class="divider"></li>

        <li>
            <a href="/Account/LogOff">
                <i class="icon-key"></i> Thoát
            </a>
        </li>
    </ul>
</li>
<script>
    $(function () {
        var formWidth = 960;
        var formHeight = $(window).height() - 24;
        $("[data-event='pass']").click(function () {
            $("#dialog-form-4").css({ 'height': formHeight });
            $("#dialog-form-4").attr('data-width', formWidth);
            $.post("/Account/ChangePassword", function (data) {
                $("#dialog-form-4" + " .modal-title").html("Đổi mật khẩu");
                $("#dialog-form-4" + " .dialog-form-ajax").html(data);
                $("#dialog-form-4").modal('show');
            });
        });
    })
</script>