@using FDI.CORE
@model List<FDI.Simple.TherapyHistoryItem>
@{
    var stt = 1;
}
<table class="gridView table table-striped table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th class='text-center'>Ngày tháng</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>@item.Name</td>
                <td>@item.DateCreate.DecimalToString("dd/MM/yyyy")</td>
                <td>@item.Note</td>
            </tr>
            stt++;
        }
        }
        else
        {
            <tr>
                <td colspan="5">Chưa có lịch sử trị liệu nào.</td>
            </tr>
        }
        
    </tbody>
</table>
