@model FDI.Simple.ModelProductBrandItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var textContainer = "#Text_@Model.Container";
        var hiddenContainer = "#Value_@Model.Container";
        var m = '@Model.SelectMutil';
        if (m.toLowerCase == 'true') {
            $("#SelectTreeCategory input[type=checkbox]").click(function () {
                var lastCheck = $(this).is(':checked');
                $("#SelectTreeCategory input[type=checkbox]").attr('checked', false);
                $(this).attr('checked', lastCheck);
            });
        }
        $("#SelectTreeCategory").treeview({
            collapsed: true,
            animated: "medium",
            control: "#SelectTreeControl",
            persist: "location"
        });
        $("#CategoryTreeSelectForm").validate({
            rules: {
                Title:
                  {
                      required: true,
                      minlength: 3,
                      maxlength: 100
                  },
                Description:
                  {
                      minlength: 15,
                      maxlength: 2000
                  }
            },
            submitHandler: function () { //onSubmit
                var values = '';
                var text = '';
                $("#SelectTreeCategory input[type=checkbox]:checked").each(function () {
                    values += "," + $(this).val();
                    text += ", " + $(this).attr("title");
                });
                if (values != '') {
                    $(textContainer).html(text.substring(1));
                    $(hiddenContainer).val(values.substring(1));
                    $("#dialog-form-2").dialog('close');
                }
                else {
                    createMessage("Thông báo", "Chưa có chuyên mục nào được chọn"); // Tạo thông báo lỗi
                }
                return false;
            }
        });
    });
</script>

<form id="CategoryTreeSelectForm">
    <div class="modal-body">
        <table class="table table-bordered">
            <tr>
                <td>
                    <div id="SelectTreeControl" class="treeTool">
                        <a title="Đóng tất cả các nhánh" href="#" class="collapse">Đóng tất cả</a>
                        <a title="Mở tất cả các nhánh" href="#" class="expand">Mở tất cả</a>
                    </div>
                    <ul id="SelectTreeCategory" class="filetree" style="border: 0px;">
                        @Html.Raw(Model.PageHtml)
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button id="close" type="button" class="btn btn-sm btn-default">Đóng</button>
    </div>
</form>
