@{
    Layout = "~/Views/Shared/_MetaCustom.cshtml";
}
@*<div class="header-control">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-home"></i>QLBH<i class="fa fa-circle"></i></li>
        </ul>
    </div>
    <h3 class="page-title"></h3>
</div>*@
<div class="content-control content-sale" id="Griditems">
</div>