@using FDI.Utils
@model FDI.Simple.ModelNewsItem

<div class="bannerCate__wrap">
    <div class="bannerCate__title">
        <h2>@Model.NewsItem.CateName</h2>
    </div>
    <div class="bannerCate__crumbar"><a class="item" href="/">Home</a><a class="item" href="">@Model.NewsItem.CateName</a></div>
    
</div>
