<connectionStrings>
	<add name="FDIEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= 124.158.4.89;initial catalog=NNIG4;user id=sa;password=sa33@6688;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="DefaultConnection" connectionString="Data Source= 124.158.4.89;Initial Catalog=NNIG4;Integrated Security=False;user id=sa;password=sa33@6688;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>