.tree-wrap {
    width: 100%;
    height: calc(100vh - 175px);
    overflow: auto;
}

.tree-user {
    min-width: 2200px;
    margin-bottom: 20px;
    float: left;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/*.tree li a:hover, .tree li a:hover + ul li a {
			background: #c8e4f8;
			color: #000;
			border: 1px solid #94a0b4;
		}*/
/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #00bfff;
}

.tree {
    ul {
        padding-top: 20px;
        position: relative;
        transition: all 0.5s;
        padding-left: 0;

        &.list, &.last {
            width: 100px;
            margin-top: 20px;
            padding: 10px;
            padding-top: 0;

            &:before {
                top: -20px;
            }

            li {
                width: 100%;
                float: left;
                border: 0;
                padding: 5px 0;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;

                a {
                    width: 80px;
                }

                &:before, &:after {
                    content: "";
                    width: 0;
                    left: 0;
                    border: none;
                    background-color: none;
                    position: static;
                    border-right: none !important;
                }

                &:first-child {
                    border-top: 1px solid #ccc;
                    padding-top: 10px;
                }

                &:last-child {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                }

                img {
                    display: none;
                }

                .img-npp {
                    min-height: 24px;
                }
            }
        }

        ul {
            ul {
                ul {
                    ul {
                        width: 100px;
                        margin-top: 20px;
                        padding-top: 0;

                        &:before {
                            top: -20px;
                        }

                        li {
                            width: 100%;
                            float: left;
                            border: 0;
                            padding: 5px 0;
                            border-left: 1px solid #ccc;
                            border-right: 1px solid #ccc;

                            a {
                                width: 80px;
                            }

                            &:before, &:after {
                                content: "";
                                width: 0;
                                left: 0;
                                border: none;
                                background-color: none;
                                position: static;
                                border-right: none !important;
                            }

                            &:first-child {
                                border-top: 1px solid #ccc;
                                padding-top: 10px;
                            }

                            &:last-child {
                                border-bottom: 1px solid #ccc;
                                padding-bottom: 10px;
                            }

                            img {
                                display: none;
                            }

                            .img-npp {
                                min-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }


    .quickTool {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.7);
        width: 270px;
        left: 100%;
        top: -1px;
        position: absolute;
        min-height: 97px;
        border: 1px solid #ccc;
        z-index: 3;
        background-color: #fff;
        transition: 0.3s ease-in-out;
    }

    .titleAcc {
        text-align: center;
        background: #00bfff;
        border-bottom: 1px solid #00bfff;
        color: #fff;
        padding: 5px 5px 3px 5px;
        font-weight: bold;
        font-size: 12px;
    }

    .bodyAcc {
        text-align: left;
        padding: 5px 10px;

        span {
            display: block;
            width: 100%;
            padding: 1px 0;
            display: block;
            font-size: 12px;

            strong:first-child {
                width: 100px;
                float: left;
            }

            .garpMain {
                padding: 5px;
            }
        }
    }

    .img-npp {
        font-weight: bold;
        padding-top: 5px;
        display: block;
        min-height: 35px;
        overflow: hidden;
    }

    li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 3px 0 3px;
        transition: all 0.5s;
        margin-top: 0px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;

        a {
            &:hover {
                .quickTool {
                    border-color: #00bfff;
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }

    a {
        border: 1px solid #ccc;
        width: 100px;
        text-align: center;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        position: relative;
        padding: 5px;
        background-color: #eeeded;

        &:hover {
            border-color: #00bfff;

            .img-npp {
                color: #00bfff;
            }
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    > ul > li > ul > li:last-child .quickTool {
        right: 100%;
        left: unset;
    }

    > ul > li > ul > li:last-child li .quickTool {
        right: 100%;
        left: unset;
    }

    > ul > li > ul li:first-child .quickTool {
        left: 100%;
        right: unset;
    }

    > ul > li > ul li:first-child li:only-child .quickTool {
        left: 100%;
        right: unset;
    }
}
