@model dynamic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập - FDITECH</title>
    <link href="https://fditech.vn/favicon.svg" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/Content/Admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/css/login.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Admin/css/components.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
</head>
<body class="login">
@RenderBody()
</body>
</html>
