@model FDI.Simple.DNRolesItem

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gear"></i>Thông tin về phòng ban
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label>Tên phòng ban</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.RoleName)
                        </td>
                    </tr>
                    
                      <tr>
                        <td>
                            <label>Mô tả</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Description)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Tầng</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.LoweredRoleName)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>



