<nav class="nav-primary hidden-xs">
    <ul class="nav">
        <li><a href="//"><i class="fa fa-home icon"><b class="bg-warning"></b></i><span>Trang chủ</span></a></li>
        <li><a href="#Chủ đề"><i class="fa fa-tasks icon"><b class="bg-success"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>Chủ đề</span></a><ul class="nav lt">
            <li><a href="/Topic"><i class="fa fa-angle-right"></i><span>Chủ đề</span></a></li>
            <li></li>
        </ul>
        </li>
        <li><a href="#Chat"><i class="fa fa-user icon"><b class="bg-success"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>Chat</span></a><ul class="nav lt">
            <li><a href="/ChatCustomer"><i class="fa fa-angle-right"></i><span>Chat</span></a></li>
            <li></li>
        </ul>
        </li>
        <li><a href="#Khách hàng"><i class="fa  fa-credit-card icon"><b class="bg-success"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>Khách hàng</span></a><ul class="nav lt">
            <li><a href="/Customer"><i class="fa fa-angle-right"></i><span>Quản lý khách hàng</span></a></li>
            <li></li>
            <li><a href="/MyFriend"><i class="fa fa-angle-right"></i><span>Lịch sử chat</span></a></li>
            <li></li>
        </ul>
        </li>
        <li><a href="#Báo cáo"><i class="fa fa-film icon"><b class="bg-success"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>Báo cáo</span></a><ul class="nav lt">
            <li><a href="/UserReport"><i class="fa fa-angle-right"></i><span>Tổng hợp theo user</span></a></li>
            <li></li>
            <li><a href="/TopicReport"><i class="fa fa-angle-right"></i><span>Tổng hợp theo chủ đề</span></a></li>
            <li></li>
        </ul>
        </li>
        <li><a href="#Phân Quyền"><i class="fa fa-users icon"><b class="bg-success"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>Phân Quyền</span></a><ul class="nav lt">
            <li><a href="/Roles"><i class="fa fa-angle-right"></i><span>Nhóm quyền</span></a></li>
            <li></li>
            <li><a href="/ActiveRole"><i class="fa fa-angle-right"></i><span>Tính năng</span></a></li>
            <li></li>
            <li><a href="/Module"><i class="fa fa-angle-right"></i><span>Quản lý Module</span></a></li>
            <li></li>
            <li><a href="/UserAdministration"><i class="fa fa-angle-right"></i><span>Quản trị viên</span></a></li>
            <li></li>
            <li><a href="/User"><i class="fa fa-angle-right"></i><span>User với Module</span></a></li>
            <li></li>
        </ul>
        </li>
    </ul>

</nav>
