@model List<FDI.Simple.SysPageItem>
<form id="form-modal">
    <div class="modal-content">
        <div class="modal-body">
            <input type="hidden" name="ctrId" value="@Request["ctrId"]" />
            <div class="form-group">
                <select class="select2 text-center" name="PageID" id="PageID">
                    <option selected="">-- Copy đến trang --</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.ID" data-layout="@item.Layout">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select name="Section" id="Section" class="select2 text-center">
                    <option selected="">-- Chọn vị trí --</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Sao chép</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $(".select2").select2({
            width: "100%",
            maximumSelectionLeng: 1,
        });
        $("#PageID").change(function () {
            var layout = $("#PageID :selected").data("layout");
            $.post("/Setting/Modules/AjaxGetSection", { layout: layout }, function (data) {
                $("#Section").html(data);
            });
        });
    });
    $("#form-modal").validate({
        rules: {
            PageID: { required: true },
            Section: { required: true }
        },
        messages: {
            PageID: { required: "Trường bắt buộc nhập!" },
            Section: { required: "Trường bắt buộc nhập!" }
        },
        submitHandler: function () { //onSubmit
            $.post("/Setting/Modules/SaveModule" + "?doAction=copy" + "&PageID=" + pageId, $("#form-modal").serialize(), function (data) {
                if (data) {
                    window.location.reload();
                }
            });
        }
    });
</script>
