@model List<FDI.Simple.RatingSiteItem>
@if (Model.Any())
{
    var star = Model.Sum(c => c.Star);
    decimal ratingValue = decimal.Parse(star.ToString()) / Model.Count;
    decimal total = ratingValue / 5 * 100;
    <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
        <span itemprop="ratingValue">@ratingValue</span> (@(total)%) 
                            <span itemprop="ratingCount">@Model.Count</span> votes    
                            <meta itemprop="bestRating" content="5">
        <meta itemprop="worstRating" content="1">
        <div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/CreativeWork"></div>
    </div>
}
else
{
    <span>Votes this post</span>
}

