@model FDI.Simple.ModelShopProductDetailItem
<div class="sec-home sec-slider">
    @Gallery.ModuleSys(Model.CtrUrl, Model.CtrId)
    <div class="fb-comments" data-href="@Request.Url" data-width="1170" data-numposts="10"></div>
</div>