@{
    ViewBag.Title = "Change Password Success";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 class="success">Change Password.</h1>
    <h2 class="success">Your password has been changed successfully.</h2>
</hgroup>
