@{
    Layout =  "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("Procedure", "AdminDN")
<h4 style="padding-top: 40px;">Bạn không có quyền với chức năng này, vui lòng liên hệ với <font color="red">Admin</font> để được hỗ trợ.</h4>