@using FDI.CORE
@model FDI.Simple.DNTimeJobItem
@{
    Layout = "~/Views/Shared/_Ajax.cshtml";
}
<div class="modal-body">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gear"></i>Thông tin về ngày nghỉ
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <label>Tên ngày nghỉ</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.DNUserItem.UserName)
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            <label>Giờ đi</label>
                        </td>
                        <td>
                            @Model.DateCreated.DecimalToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                             <label>Giờ về</label>
                        </td>
                        <td>
                           @Model.DateEnd.DecimalToString("dd/MM/yyyy HH:mm:ss")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">Đóng</button>
</div>



