@using FDI.Utils
@model List<FDI.Simple.PartnerItem>
@{
    var pageId = WebConfig.PartnerDetail;
}
<div class="sec-home sec-slider">
    <div class="container">
        <div class="sec-slider__title">
            <h3>@Resources.Resource.hinhanh</h3>
        </div>
        <div class="sec-slider__list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xs-6 col-md-4">
                        <a class="item item-ef" href="/@item.Slug-p@(pageId)c@(item.ID)" title="">
                            <div class="img">
                                <img class="img-responsive" src="@item.PictureUrl.UploadPicture()"><span class="roll tie-picture"></span>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
